<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static',filename='custom.css')}}">
</head>
<body>
    {% block header %}
    <h1>Overrideable Content</h1>
    {% endblock %}
</body>
<footer>
    <div class="footer-bottom">
        <p>&copy; 2025 PCOS Compass. Made by Nhat Nguyen. All Rights Reserved.</p>
    </div>
</footer>
</html>