{% extends "header.html" %}

{% block content %}
<div class ="register-container">
    <h2 class="title">Login</h2>
    
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-input", placeholder="Enter username") }}
            {% for error in form.username.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-input", placeholder="Enter password") }}
            {% for error in form.password.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group">
            {{ form.submit(class="btn-submit") }}
        </div>
    </form>
    
    <p class="register-prompt">
        Don't have an account? 
        <a class="home-signup" href="{{ url_for('users.register') }}">Register here</a>.
    </p>
</div>
{% endblock %}
