{% extends "header.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Places to look at for PCOS</h2>
    <div class="row">
        {%for place in places%}
            <h3>{{place.name}}</h3>
            <p>{{place.description}}</p>
            <a href="{{ url_for('places.place_detail', place_id=place.id) }}" target="_blank">{{place.link}}</a>
            <p>posted by: {{place.posted_by.username}}</p>
        {%endfor%}
    </div>
</div>

<div class="container" style="max-width: 400px; margin-top: 50px;">
    <h2 class="text-center">Add Place</h2>
    
    <form method="POST" action="" onsubmit="this.submit(); this.reset(); return false;"
    >
        {{ form.hidden_tag() }}
        
        <div class="form-group mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", placeholder="Enter the place's name") }}
            {% for error in form.name.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group mb-3">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control", placeholder="Enter address") }}
            {% for error in form.address.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group mb-3">
            {{ form.link.label(class="form-label") }}
            {{ form.link(class="form-control", placeholder="Enter link") }}
            {% for error in form.link.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group mb-3">
            {{ form.latitude.label(class="form-label") }}
            {{ form.latitude(class="form-control", placeholder="Enter latitude") }}
            {% for error in form.latitude.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group mb-3">
            {{ form.longitude.label(class="form-label") }}
            {{ form.longitude(class="form-control", placeholder="Enter longitude") }}
            {% for error in form.longitude.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
        </div>
        
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary w-100") }}
        </div>
    </form>

</div>
{% endblock %}